
.switchContainer {
    position: relative;
    width: 140px;
    height: 340px;
    font-size: 22px;
    overflow: hidden;
    display: inline-block;
    align-content: center;
    padding: 0 10px;
}
.switchContainer .toggle {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.switchContainer .toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


.switchContainer .slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #333;
    transition: 0.4s;
    width: 140px;
    height: 220px;
}

.switchContainer .slider:before {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: #fff;
    transition: 0.4s;
    bottom: 10px;
    left: 10px;
}

.switchContainer input:checked + .slider {
    background-color: #fd5d00;
    box-shadow: 0 0 12px #fd5d00;
}

.switchContainer input:checked + .slider:before {
    transform: translateY(-80px);
}

.switchContainer .slider.round {
    border-radius: 20px;
}
.switchContainer .slider.round::before {
    border-radius: 20px;
}